div.bar {
    display: inline-block;
    width: 20px;
    background-color: teal;
    margin-left: 10px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}